body {
    font-family: 'Open Sans', sans-serif;
        /* font-family: 'Poppins', sans-serif; */
    background-color: #fff;
}

/* THE FOLLOWING IS FOR DEVELOPMENTAL PUTPOSES ONLY
    TODO: REMOVE THIS When not in Developement mode
 */
/* * { */
    /* border: 1px solid red; */
     /* or any color of your choice */
/* } */

img {
    max-width: 100%;
    height: auto;
    /* margin-bottom: 20px; */
}

input, button {
    padding: 10px 15px;
    margin: 5px;
}

#flag {
    display: block;
    margin: 20px auto;
}

/* .container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
} */

.container {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

@keyframes glowEffect {
    0% {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        /* box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2); */
    }
    50% {
        box-shadow: 0 0 20px 20px rgba(7, 238, 255, 0.5);
    }
    100% {
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        /* box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2); */
    }
}

.container2 {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s; /* 0.5s transition for a smooth effect */
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 20%;
    margin: 50px auto;
    text-align: center;
    padding: 6px;
    border-radius: 15px;
    /* animation: glowEffect 2s infinite; */
    animation: glowEffect 2s;
}

.flag-container {
    width: 300px;  
    height: 150px; 
    margin: 20px auto;
    overflow: hidden;  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    position: relative;
}

.notification {
    text-align: center;     
    margin: 0 auto;          
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;               
    pointer-events: none;     
    transition: opacity 0.3s;
    font-size: 64px;
    max-width: 80%;           
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    position: absolute;      
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%);
    width: 100%;           
    box-sizing: border-box;
}


h1 {
    color: #333;
    font-size: 64px;
    margin: 0;  
    font-family: 'Noto Sans', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;  
    height: auto;
    margin: auto;  
}

input, button {
    padding: 10px 20px;  
    margin: 5px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.transparent-btn
{
    background-color: transparent;
    color: #007BFF;
    border: 0.25px solid  #c2c2c2;
    font-family: 'Open Sans', sans-serif;
}

.transparent-btn:hover {
    background-color: #bcc7d3;
}
/* 
background-color: transparent;
border: 0.5px solid #007BFF;
display: flex;
justify-content: center;
align-items: center;
/* width: 100%; */
 /* This ensures that the button occupies the full width */
/* overflow: hidden; */
/* This prevents text overflow */


button:hover {
    background-color: #0099ff;
}

/* :hover */
/* background-color: rgba(0, 0, 0, 0.1);  */
/* This gives a slight shade when the button is hovered */

input {
    width: 65%;  
}

p {
    color: #666;
    font-size: 18px;
}

#userGuess {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
    border: 0.5px solid #00000000; 
    padding: 8px 12px;
}

#userGuess:focus {
    background-color: #fff; 
    border: 0.5px solid #ccc; 
    outline: none;
}



/* *^____^* 👌      Author Shriraj Pethe 
(～￣▽￣)～ 👌      Author Shriraj Pethe */